* {
   padding: 0;
   margin: 0;
}

#root {
   margin: 0 auto;
   text-align: center;
}

body {
   background-color: rgb(155, 177, 140);
}

.container-main {
   background-color: rgb(153, 215, 178);
   display: flex;
}

.container-form {
   min-width: 50vw;
}

.container-form-section {
   background-color: #b0fb61aa;
   display: flex;
   flex-direction: column;
   text-align: left;
}

form label {
   margin: 1% 0 0.5% 0;
}

form input {
   margin: 0 0 1% 0;
   height: 20pt;
   padding: 2px;
}

.container-display {
   min-width: 50vw;
   overflow-wrap: break-word;
}

.container-form,
.container-display {
   margin: 1%;
}
